In [1]:
import nest_asyncio

nest_asyncio.apply()

In [2]:
from anaconda_models.langchain import AnacondaQuantizedModelChat

model = AnacondaQuantizedModelChat(
    model_name="Mistral-7b-Instruct-v0.2", quantization="q4_k_m"
)

In [3]:
from parsera import Parsera

url = "https://anaconda.com/pricing"
elements = {
    "Teir": "Tier name",
    "Storage": "Amount of available storage in GB",
    "CPU": "Daily CPU-seconds quota",
    "Price": "Monthly price in USD",
}

scraper = Parsera(model=model)
result = scraper.run(url=url, elements=elements, scrolls_limit=10)

In [4]:
import pandas as pd

df = pd.DataFrame(result)
df

         Teir    Storage        CPU          Price
0        Free        100       1000              0
1     Starter         10       8000             15
2    Business         20      20000             50
3  Enterprise  Unlimited  Unlimited  Contact Sales